In [10]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# ^ returns a named tuple of Ticker objects

fb = yf.Ticker("FB")
shop =yf.Ticker("SHOP")
BYND=yf.Ticker("BYND")
NFLX=yf.Ticker("NFLX")
PINS=yf.Ticker("PINS")
SQ=yf.Ticker("SQ")
TTD=yf.Ticker("TTD")
OKTA=yf.Ticker("OKTA")
SNAP= yf.Ticker("SNAP")
DDOG=yf.Ticker("DDOG")

In [19]:
msftdata= msft.history(start="2020-05-14",end="2020-05-15",interval="1m")

In [20]:
msftdata.to_csv("msft.csv")
msftdata

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2020-05-14 09:30:00-04:00,177.54,178.33,177.54,178.11,1144120,0,0
2020-05-14 09:31:00-04:00,178.11,178.47,178.03,178.46,166789,0,0
2020-05-14 09:32:00-04:00,178.46,178.56,177.88,177.88,110575,0,0
2020-05-14 09:33:00-04:00,177.89,177.99,177.66,177.71,128357,0,0
2020-05-14 09:34:00-04:00,177.72,178.10,177.70,178.07,107695,0,0
2020-05-14 09:35:00-04:00,178.21,178.37,178.14,178.33,148042,0,0
2020-05-14 09:36:00-04:00,178.34,178.60,178.13,178.49,93337,0,0
2020-05-14 09:37:00-04:00,178.76,178.85,178.71,178.77,228361,0,0
2020-05-14 09:38:00-04:00,178.76,178.89,178.70,178.78,99074,0,0
2020-05-14 09:39:00-04:00,178.66,178.66,178.18,178.25,132322,0,0
2020-05-14 09:40:00-04:00,178.20,178.30,178.04,178.16,94295,0,0
2020-05-14 09:41:00-04:00,178.19,178.34,178.08,178.29,92635,0,0
2020-05-14 09:42:00-04:00,178.34,178.56,178.34,178.48,99994,0,0
2020-05-14 09:43:00-04:00,178.47,178.52,178.31,178.50,89721,0,0
2020-05-14 09:44:00-04:00,178.18,178.36,178.14,178.31,140563,0,0
2020-05-14 09:45:00-04:00,178.34,178.59,178.17,178.44,102440,0,0
2020-05-14 09:46:00-04:00,178.46,178.71,178.35,178.38,74206,0,0
2020-05-14 09:47:00-04:00,178.38,178.38,178.01,178.03,110804,0,0
2020-05-14 09:48:00-04:00,178.04,178.04,177.77,177.83,113566,0,0
2020-05-14 09:49:00-04:00,177.75,177.82,177.61,177.68,147908,0,0
2020-05-14 09:50:00-04:00,177.67,177.91,177.62,177.82,127346,0,0
2020-05-14 09:51:00-04:00,177.81,177.82,177.41,177.45,131278,0,0
2020-05-14 09:52:00-04:00,177.45,177.45,177.23,177.32,117702,0,0
2020-05-14 09:53:00-04:00,177.30,177.38,177.26,177.30,43586,0,0
2020-05-14 09:54:00-04:00,177.02,177.05,176.67,176.69,303742,0,0
2020-05-14 09:55:00-04:00,176.69,177.14,176.67,176.85,177795,0,0
2020-05-14 09:56:00-04:00,176.84,177.03,176.67,176.68,162870,0,0
2020-05-14 09:57:00-04:00,176.71,176.96,176.61,176.81,157643,0,0
2020-05-14 09:58:00-04:00,176.76,177.15,176.73,177.10,127397,0,0
2020-05-14 09:59:00-04:00,177.10,177.34,176.97,176.99,134742,0,0
...,...,...,...,...,...,...,...
2020-05-14 15:30:00-04:00,179.09,179.35,179.06,179.09,57706,0,0
2020-05-14 15:31:00-04:00,179.05,179.07,178.95,179.01,84729,0,0
2020-05-14 15:32:00-04:00,179.01,179.15,178.97,179.03,64112,0,0
2020-05-14 15:33:00-04:00,179.03,179.18,178.96,179.02,59137,0,0
2020-05-14 15:34:00-04:00,179.01,179.12,178.98,179.04,52826,0,0
2020-05-14 15:35:00-04:00,179.04,179.07,178.77,178.77,73936,0,0
2020-05-14 15:36:00-04:00,178.78,178.78,178.61,178.66,68715,0,0
2020-05-14 15:37:00-04:00,178.65,179.00,178.65,178.87,92027,0,0
2020-05-14 15:38:00-04:00,178.88,178.97,178.80,178.81,47384,0,0
2020-05-14 15:39:00-04:00,178.80,178.83,178.64,178.70,73206,0,0
2020-05-14 15:40:00-04:00,178.71,178.95,178.61,178.79,98474,0,0
2020-05-14 15:41:00-04:00,178.80,178.82,178.52,178.62,85199,0,0
2020-05-14 15:42:00-04:00,178.63,178.90,178.59,178.82,69319,0,0
2020-05-14 15:43:00-04:00,178.82,178.86,178.71,178.74,52293,0,0
2020-05-14 15:44:00-04:00,178.73,179.15,178.69,179.11,106219,0,0
2020-05-14 15:45:00-04:00,179.12,179.59,179.11,179.28,151001,0,0
2020-05-14 15:46:00-04:00,179.45,179.46,179.33,179.34,71916,0,0
2020-05-14 15:47:00-04:00,179.17,179.33,179.14,179.31,144182,0,0
2020-05-14 15:48:00-04:00,179.30,179.40,179.11,179.22,95769,0,0
2020-05-14 15:49:00-04:00,179.20,179.49,179.14,179.42,108580,0,0
2020-05-14 15:50:00-04:00,179.43,180.11,179.42,180.06,467420,0,0
2020-05-14 15:51:00-04:00,180.06,180.10,179.81,179.87,154761,0,0
2020-05-14 15:52:00-04:00,179.89,180.07,179.86,179.98,145085,0,0
2020-05-14 15:53:00-04:00,179.98,180.20,179.91,180.19,170154,0,0
2020-05-14 15:54:00-04:00,180.20,180.36,180.06,180.32,353236,0,0
2020-05-14 15:55:00-04:00,180.29,180.29,179.83,180.16,344376,0,0
2020-05-14 15:56:00-04:00,180.17,180.30,180.07,180.21,190254,0,0
2020-05-14 15:57:00-04:00,180.20,180.38,180.13,180.14,200407,0,0
2020-05-14 15:58:00-04:00,180.15,180.34,180.07,180.22,314818,0,0
2020-05-14 15:59:00-04:00,180.22,180.69,180.15,180.46,717392,0,0

In [24]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession \
        .builder \
        .appName("Analysis") \
        .getOrCreate()

In [27]:
msft_df = spark.read.csv('msft.csv', header=True, inferSchema=True, encoding='utf-8')

In [31]:
msft_df.show(5)

+--------------------+------+------+------+------+-------+---------+------------+
|            Datetime|  Open|  High|   Low| Close| Volume|Dividends|Stock Splits|
+--------------------+------+------+------+------+-------+---------+------------+
|2020-05-14 09:30:...|177.54|178.33|177.54|178.11|1144120|        0|           0|
|2020-05-14 09:31:...|178.11|178.47|178.03|178.46| 166789|        0|           0|
|2020-05-14 09:32:...|178.46|178.56|177.88|177.88| 110575|        0|           0|
|2020-05-14 09:33:...|177.89|177.99|177.66|177.71| 128357|        0|           0|
|2020-05-14 09:34:...|177.72| 178.1| 177.7|178.07| 107695|        0|           0|
+--------------------+------+------+------+------+-------+---------+------------+
only showing top 5 rows

In [40]:
msft_df.createOrReplaceTempView("msft")
msft_sql= spark.sql("select high,low,Datetime as ts ,'msft' as name from msft ")
msft_sql.show(5)

+------+------+--------------------+----+
|  high|   low|                  ts|name|
+------+------+--------------------+----+
|178.33|177.54|2020-05-14 09:30:...|msft|
|178.47|178.03|2020-05-14 09:31:...|msft|
|178.56|177.88|2020-05-14 09:32:...|msft|
|177.99|177.66|2020-05-14 09:33:...|msft|
| 178.1| 177.7|2020-05-14 09:34:...|msft|
+------+------+--------------------+----+
only showing top 5 rows

In [43]:
msft_sql.write.json("msft.json")

In [49]:
#FB
fb_data= fb.history(start="2020-05-14",end="2020-05-15",interval="1m")
fb_data.to_csv("fb.csv")
fb_df=spark.read.csv('fb.csv', header=True, inferSchema=True, encoding='utf-8')
fb_df.createOrReplaceTempView("fb")
fb_sql= spark.sql("select high,low,Datetime as ts ,'FB' as name from fb ")
fb_sql.write.json("fb.json")

In [50]:
#shop
shop_data= shop.history(start="2020-05-14",end="2020-05-15",interval="1m")
shop_data.to_csv("shop.csv")
shop_df=spark.read.csv('shop.csv', header=True, inferSchema=True, encoding='utf-8')
shop_df.createOrReplaceTempView("shop")
shop_sql= spark.sql("select high,low,Datetime as ts ,'SHOP' as name from shop ")
shop_sql.write.json("shop.json")

In [51]:
#BYND
BYND_data= BYND.history(start="2020-05-14",end="2020-05-15",interval="1m")
BYND_data.to_csv("BYND.csv")
BYND_df=spark.read.csv('BYND.csv', header=True, inferSchema=True, encoding='utf-8')
BYND_df.createOrReplaceTempView("BYND")
BYND_sql= spark.sql("select high,low,Datetime as ts ,'BYND' as name from BYND ")
BYND_sql.write.json("BYND.json")

In [52]:
#NFLX
NFLX_data= NFLX.history(start="2020-05-14",end="2020-05-15",interval="1m")
NFLX_data.to_csv("NFLX.csv")
NFLX_df=spark.read.csv('NFLX.csv', header=True, inferSchema=True, encoding='utf-8')
NFLX_df.createOrReplaceTempView("NFLX")
NFLX_sql= spark.sql("select high,low,Datetime as ts ,'NFLX' as name from NFLX ")
NFLX_sql.write.json("NFLX.json")

In [53]:
#PINS
PINS_data= PINS.history(start="2020-05-14",end="2020-05-15",interval="1m")
PINS_data.to_csv("PINS.csv")
PINS_df=spark.read.csv('PINS.csv', header=True, inferSchema=True, encoding='utf-8')
PINS_df.createOrReplaceTempView("PINS")
PINS_sql= spark.sql("select high,low,Datetime as ts ,'PINS' as name from PINS ")
PINS_sql.write.json("PINS.json")

In [54]:
#SQ
SQ_data= SQ.history(start="2020-05-14",end="2020-05-15",interval="1m")
SQ_data.to_csv("SQ.csv")
SQ_df=spark.read.csv('SQ.csv', header=True, inferSchema=True, encoding='utf-8')
SQ_df.createOrReplaceTempView("SQ")
SQ_sql= spark.sql("select high,low,Datetime as ts ,'SQ' as name from SQ ")
SQ_sql.write.json("SQ.json")

In [55]:
#TTD
TTD_data= TTD.history(start="2020-05-14",end="2020-05-15",interval="1m")
TTD_data.to_csv("TTD.csv")
TTD_df=spark.read.csv('TTD.csv', header=True, inferSchema=True, encoding='utf-8')
TTD_df.createOrReplaceTempView("TTD")
TTD_sql= spark.sql("select high,low,Datetime as ts ,'TTD' as name from TTD ")
TTD_sql.write.json("TTD.json")

In [56]:
#OKTA
OKTA_data= OKTA.history(start="2020-05-14",end="2020-05-15",interval="1m")
OKTA_data.to_csv("OKTA.csv")
OKTA_df=spark.read.csv('OKTA.csv', header=True, inferSchema=True, encoding='utf-8')
OKTA_df.createOrReplaceTempView("OKTA")
OKTA_sql= spark.sql("select high,low,Datetime as ts ,'OKTA' as name from OKTA ")
OKTA_sql.write.json("OKTA.json")

In [57]:
#SNAP
SNAP_data= SNAP.history(start="2020-05-14",end="2020-05-15",interval="1m")
SNAP_data.to_csv("SNAP.csv")
SNAP_df=spark.read.csv('SNAP.csv', header=True, inferSchema=True, encoding='utf-8')
SNAP_df.createOrReplaceTempView("SNAP")
SNAP_sql= spark.sql("select high,low,Datetime as ts ,'SNAP' as name from SNAP ")
SNAP_sql.write.json("SNAP.json")

In [58]:
#DDOG
DDOG_data= DDOG.history(start="2020-05-14",end="2020-05-15",interval="1m")
DDOG_data.to_csv("DDOG.csv")
DDOG_df=spark.read.csv('DDOG.csv', header=True, inferSchema=True, encoding='utf-8')
DDOG_df.createOrReplaceTempView("DDOG")
DDOG_sql= spark.sql("select high,low,Datetime as ts ,'DDOG' as name from DDOG ")
DDOG_sql.write.json("DDOG.json")

In [82]:
df_json = spark.read.json("*.json")

In [103]:
df_json_whithColumn=df_json.withColumn("hours",df_json["ts"][12:2]).drop("low","ts")
df_json_whithColumn.show(10)

+------+----+-----+
|  high|name|hours|
+------+----+-----+
| 134.0|BYND|   09|
|135.94|BYND|   09|
|135.52|BYND|   09|
| 134.9|BYND|   09|
|134.31|BYND|   09|
| 135.5|BYND|   09|
|136.39|BYND|   09|
|137.77|BYND|   09|
|137.75|BYND|   09|
|137.97|BYND|   09|
+------+----+-----+
only showing top 10 rows

In [106]:
df_group_hours=df_json_whithColumn.groupBy("name","hours").max().orderBy("name","hours")
df_group_hours.show(10)

+----+-----+---------+
|name|hours|max(high)|
+----+-----+---------+
|BYND|   09|   137.97|
|BYND|   10|   139.56|
|BYND|   11|    141.0|
|BYND|   12|   138.24|
|BYND|   13|   137.79|
|BYND|   14|   135.73|
|BYND|   15|   135.85|
|DDOG|   09|    67.25|
|DDOG|   10|    66.55|
|DDOG|   11|     65.0|
+----+-----+---------+
only showing top 10 rows

In [119]:
import pandas as pd

In [121]:
pd_df=df_group_hours.toPandas()

In [123]:
pd_df.to_csv('result.csv')
pd_df

    name hours  max(high)
0   BYND    09     137.97
1   BYND    10     139.56
2   BYND    11     141.00
3   BYND    12     138.24
4   BYND    13     137.79
5   BYND    14     135.73
6   BYND    15     135.85
7   DDOG    09      67.25
8   DDOG    10      66.55
9   DDOG    11      65.00
10  DDOG    12      64.88
11  DDOG    13      65.00
12  DDOG    14      64.13
13  DDOG    15      65.87
14    FB    09     203.87
15    FB    10     203.35
16    FB    11     204.27
17    FB    12     205.10
18    FB    13     205.64
19    FB    14     204.99
20    FB    15     206.93
21  NFLX    09     452.00
22  NFLX    10     446.51
23  NFLX    11     440.53
24  NFLX    12     440.34
25  NFLX    13     441.78
26  NFLX    14     441.44
27  NFLX    15     442.14
28  OKTA    09     178.00
29  OKTA    10     177.81
..   ...   ...        ...
40  PINS    14      16.91
41  PINS    15      17.09
42  SHOP    09     758.09
43  SHOP    10     752.00
44  SHOP    11     756.78
45  SHOP    12     754.16
46  SHOP    13     755.82
47  SHOP    14     751.80
48  SHOP    15     755.57
49  SNAP    09      16.73
50  SNAP    10      16.93
51  SNAP    11      17.15
52  SNAP    12      16.99
53  SNAP    13      17.00
54  SNAP    14      16.92
55  SNAP    15      16.97
56    SQ    09      72.81
57    SQ    10      75.59
58    SQ    11      76.49
59    SQ    12      76.75
60    SQ    13      77.18
61    SQ    14      77.26
62    SQ    15      78.25
63   TTD    09     290.11
64   TTD    10     290.07
65   TTD    11     296.86
66   TTD    12     294.50
67   TTD    13     296.00
68   TTD    14     295.77
69   TTD    15     297.67

[70 rows x 3 columns]